.env
.DS_Store

# prysm
2-etherscan-leaderboard/ethereum/consensus/data/
2-etherscan-leaderboard/ethereum/consensus/prysm/dist/
2-etherscan-leaderboard/ethereum/consensus/*.hex

# geth
2-etherscan-leaderboard/ethereum/execution/data/

# erigon
2-etherscan-leaderboard/ethereum/execution-erigon/erigon/


# dump file
2-etherscan-leaderboard/*.json